version: '3.9'

services:
  webhook:
    container_name: webhook-app-dev
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "8081:8080"
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
      - ./logs:/app/logs
    command: npm run dev
    networks:
      - virtual_assistant_network

networks:
  virtual_assistant_network:
    external: true
