version: '3.9'

services:
  webhook:
    container_name: webhook-app
    image: pepewee/whatsapp-webhook:latest
    ports:
      - "8081:8080"
    env_file:
      - .env
    restart: always
    networks:
      - virtual_assistant_network
    volumes:
      - webhook_logs:/app/logs



volumes:
  webhook_logs:

networks:
  virtual_assistant_network:
    external: true